<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "header_content"%>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Magank | pengalaman adalah guru yang paling berharga</title>
  
  <!--[if IE]>
    <%= stylesheet_link_tag "ie8" %>
  <![endif]-->
  <!--[if IE 7]>
    <%= stylesheet_link_tag "ie7" %>
  <![endif]-->
  <!--[if lt IE 7]>
    <%= stylesheet_link_tag "ie7" %>
  <![endif]-->
  
  <%= stylesheet_link_tag "master" , "advanced"  %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
